

.footer__control-buttons {

    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7rem;
    margin-bottom: 3rem;
    /* margin: 0 auto; */

}