.main__container-question {

    background-color: rgba(44, 44, 44, 0.8);

    padding: 10px 20px;
    
    text-align: center;
    width: 90%;
    height: auto;
    max-height: 75vh;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    /* margin: 0 auto; */
    left: 50%;
    transform: translate(-50%, -50%); 
    top: 50%;

    border-radius: 10px;
    margin-top: 3rem;

}

#section__question__num-question {

    background-color: rgba(37, 37, 37, 0.3);
    width: 100%;
    font-size: 1.7rem;
    display: inline-block;
    font-weight: 600;
    padding: .7rem 1.4rem;
    border-radius: 1.5rem;

}

#section__question__text-question{

    font-size: 2.3rem;
    padding: 1.3rem .5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#alternatives {
    /* background-color: rgb(58, 46, 82); */
    /* padding: 10px; */
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{

    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0) !important;
    border: 2px solid rgba(104, 17, 138, 0.7);
    
    font-size: 2.3rem;
    padding: 10px 5px;
    /* margin: 1.5rem; */
    border-radius: 1rem;
    /* width: 90%; */
    height: 5.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 1.5rem;
}

button + button{
    margin-top: 2.3rem;
}

button.alternatives__answer-button {

    width: 100%;
    /* display: inline; */
    /* align-self: center; */
    /* color: black; */
}


button:hover {
    cursor: pointer;
}

button.btn-start-quiz{

    width: 70%;
    height: 5rem;
    font-size: 2rem;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) ;
    text-transform: uppercase;
    font-weight: 500;

}


.btn-next-question {
    
    color: black !important;
    background-color: rgb(131, 165, 218) !important;
    font-size: 1.8rem;
    width: 32%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    border: none;

}

.btn-restart-quiz{

    background-color: rgb(136, 136, 136);
    border: none;

    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 18%;
    margin: 0;
    height: 4rem;

}
.btn-restart-quiz__icon{
    width:2rem;


}

.alternatives__answer-button__icon-correct-or-incorrect{
    position: absolute;
    /* top: -4.3rem; */
    /* left: 9rem; */
    right: 6rem;
    /* z-index: 10; */
}

.icon-incorrect {
    position: relative;
    top: -4.3rem;
    left: 15rem;
    z-index: 1;
}


.is--correct{
    background-color: rgb(48, 138, 48) !important;
    color: white !important;
    font-weight: 600 !important;
}


.is--incorrect {
    background-color: rgb(170, 57, 57) !important;
    color: white !important;
    font-weight: 600 !important;
}


button:disabled{
    opacity: 1;
}
.disabled{

    pointer-events:none;
    opacity: .7;
}

.is--disable{
    display: none;
}